body {
	margin: 0px;
	background-color: #312E2B;
	font-family: 'Fondamento', cursive;
}

.header > h1 {
	margin: 10px;
	color: #F1F1F1;
	font-size: 60px;
	text-align: center;
}

.container {
	width: 72%;
	margin: auto;
	display: flex;
	justify-content: space-evenly;
}

.redPlayer, .bluePlayer {
	color: #383636;
	font-size: 15px;
	min-width: 200px;
	max-width: 200px;
	border-radius: 5px;
	border: 10px solid #8C8A88;
	background-color: #F1F1F1;
}

.redPlayer > .title, .bluePlayer > .title {
	font-size: 22px;
	font-weight: bold;
	padding: 12px 0px;
	text-align: center;
	opacity: 0.9;
	background-color: #DBD9D7;
}

.redPlayer > .name, .bluePlayer > .name {
	font-size: 18px;
	margin-top: 10px;
	text-align: center;
}

.redPlayer > .image, .bluePlayer > .image {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-size: contain;
	margin: 15px auto 0px auto;
	background-repeat: no-repeat;
}

.redPlayerStats, .bluePlayerStats {
	font-size: 14px;
	margin-top: 20px;
	text-align: center;
}

.redPlayerStats > div , .bluePlayerStats > div {
	margin-top: 5px;
}

.redPlayer > .turn, .bluePlayer > .turn {
	visibility: hidden;
	color: #383636;
	font-size: 40px;
	margin-top: 40px;
	text-align: center;
}

.redPlayerStats > .killed, .bluePlayerStats > .killed {
	display: flex;
	flex-wrap: wrap;
}

.redPlayerStats > .killed > img, .bluePlayerStats > .killed > img {
	width: 25px;
	height: 25px;
	margin-top: 3px;
	margin-left: 3px;
}

.redPlayer > .title, .redPlayer > .turn {
	color: #CF4A3C;
}

.bluePlayer > .title, .bluePlayer > .turn {
	color: #005E92;
}

.redPlayer > .image {
	background-image: url("../img/red-general.svg");
}

.bluePlayer > .image {
	background-image: url("../img/blue-general.svg");
}

.bluePlayer > .switch {
	top: 75px;
	margin-left: 26px;
	position: relative;
	border: 1px solid grey;
	border-radius: 3px;
	cursor: pointer;
}

.bluePlayer > .switch:focus {
	outline: none;
}

.chessBoard > table {
	margin: auto;
	min-width: 500px;
	border-radius: 4px;
	border-spacing: 3px;
	background-size: cover;
	border: 2px solid grey;
	background-repeat: no-repeat;
	background-image: url("../img/chessboard-background.svg");*/
}

.chessBoard > table > tr > td {
	height: 52px;
	min-width: 52px;
	text-align: center;
	border-radius: 5px;
}

.chessBoard > table > tr > td > img {
	width: 49px;
	border-radius: 50%;
	vertical-align: top;
}

.chessBoard > table > tr > td > .chessPiece[color="red"]:hover, .selected[color="red"] {
	box-shadow: 0 0 3px 3px rgba(158, 0, 0, 0.4);
}

.chessBoard > table > tr > td > .chessPiece[color="blue"]:hover, .selected[color="blue"]{
	box-shadow: 0 0 3px 3px rgba(0, 94, 146, 0.4);
}