body {
	text-align: center;
}

.chessBoard > table {
	margin: auto;
	min-width: 500px;
	border-spacing: 3px;
	background-size: cover;
	border: 1px solid #282923;
	background-repeat: no-repeat;
	background-image: url("../img/background.svg");
}

.chessBoard > table > tr > td {
	height: 52px;
	min-width: 52px;
	border-radius: 50px;
}

.chessBoard > table > tr > td > img {
	width: 50px;
	height: 50px;
	vertical-align: top;
	border-radius: 50%;
}

.chessBoard > table > tr > td > .chessPiece:hover {
	box-shadow: 0 0 5px 5px rgba(127, 145, 147, 0.9);
}

.selected {
	box-shadow: 0 0 5px 5px rgba(127, 145, 147, 0.9);
}

.gameMessage {
	font-size: 18px;
}