body {
	margin: 0px;
	text-align: center;
}

.scoreBoard {
	width: 60%;
	height: 110px;
	display: flex;
	justify-content: space-around;
	margin-bottom: 15px;
	margin: 10px auto 10px auto;
}

.redPlayer {
	width: 48%;
	height: 110px;
	font-size: 18px;
	border-radius: 20px;
	border: 1px solid black;
	background-color: #FF8686;

}

.redPlayer > div:first-child {
	margin-top: 20px;
}

.bluePlayer {
	width: 48%;
	height: 110px;
	font-size: 18px;
	border-radius: 20px;
	border: 1px solid black;
	background-color: #DDEFFD;
}

.bluePlayer > div:first-child {
	margin-top: 20px;
}

.chessBoard > table {
	margin: auto;
	min-width: 500px;
	border-spacing: 3px;
	background-size: cover;
	border: 1px solid #282923;
	background-repeat: no-repeat;
	background-image: url("../img/background.svg");
}

.chessBoard > table > tr > td {
	height: 50px;
	min-width: 50px;
	border-radius: 50px;
}

.chessBoard > table > tr > td > img {
	width: 46px;
	height: 46px;
	vertical-align: top;
	border-radius: 50%;
}

.chessBoard > table > tr > td > .chessPiece:hover {
	box-shadow: 0 0 5px 5px rgba(127, 145, 147, 0.9);
}

.selected {
	box-shadow: 0 0 5px 5px rgba(127, 145, 147, 0.9);
}

.gameMessage {
	font-size: 18px;
}