body {
	text-align: center;
}

.chessBoard > table {
	margin: auto;
	min-width: 405px;
	border-spacing: 3px;
	background-size: cover;
	border: 1px solid #282923;
	background-repeat: no-repeat;
	background-image: url("../img/background.svg");
}

.chessBoard > table > tr > td {
	width: 52px;
	height: 52px;
}

.chessBoard > table > tr > td > img {
	width: 51px;
	height: 51px;
	vertical-align: top;
	border-radius: 50%;
}

.chessBoard > table > tr > td > img:hover {
	box-shadow: 0 0 5px 5px rgba(242, 238, 205, 0.5);
}

.gameMessage {
	font-size: 16px;
}

.selected {
	box-shadow: 0 0 5px 5px rgba(242, 238, 205, 0.5);
}